# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create and format markdown cells in a notebook  
- Perform basic arithmetic operations using code cells  
- Understand tools and environments used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [39]:
print((3*4)+5) #this a simple arithmetic expression to mutiply then add integers

17

In [41]:
hours=(200/60) #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author 
Your Name